$width-mid: 768px;
$width-sm: 480px;

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

.sign_in {
  position: relative;
  width: 700px;
  margin: 0 auto;
  top: calc(25vh - 64px);
  padding: 20px 0;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);

  @include max-screen($width-mid) {
    width: 450px;
  }

  @include max-screen($width-sm) {
    width: 280px;
  }

  h1 {
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: left;
    width: 80%;
    margin: 0 auto;

    .element {
      padding-bottom: 20px;
    }

    .button {
      width: 40%;
      margin: 20px auto;
    }
  }
}
