mat-toolbar {
  position: fixed;
  z-index: 10;
  top: 0;

  .title {
    display: block;
    font-size: xx-large;
  }

  .menu {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .brand {
      background-color: whitesmoke;
    }
    .item {
      background-color: whitesmoke;
    }
    .data {
      background-color: whitesmoke;
    }
  }
}
