<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>
            <a mat-button routerLink="top" class="header-button title">Fashion Expenses</a>
        </span>
        <div class="menu">
            <span>
                <a mat-button routerLink="brands" class="header-button">ブランド</a>
            </span>
            <span>
                <a mat-button routerLink="items" class="header-button">アイテム</a>
            </span>
            <span>
                <a mat-button routerLink="data-list" class="header-button">登録データ</a>
            </span>
            <span>
                <input #search_box id="search-box" (input)="search()" placeholder="search" />
            </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>