<div *ngIf="login">
    <mat-toolbar color="accent">
        <mat-toolbar-row>
            <span>
                <a mat-button routerLink="" class="title">Fashion Expenses</a>
            </span>
            <div class="menu">
                <!-- <mat-chip-list aria-label="Fish selection">
                    <mat-chip color="accent" selected routerLink="brands/" ">ブランド</mat-chip>
                    <mat-chip color=" accent" selected routerLink="items/">アイテム</mat-chip>
                    <mat-chip color="accent" selected routerLink="data-list/">登録データ</mat-chip>
                </mat-chip-list> -->
                <div>
                    <a mat-button (click)=sign_out() routerLinkActive="sign_out">ログアウト</a>
                </div>
                <div>
                    <a mat-button routerLink="brands" routerLinkActive="brand">ブランド</a>
                </div>
                <div>
                    <a mat-button routerLink="items" routerLinkActive="item">アイテム</a>
                </div>
                <div>
                    <a mat-button routerLink="data-list" routerLinkActive="data">登録データ</a>
                </div>
                <div>
                    <app-search>
                    </app-search>
                </div>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>