<div *ngIf="number_of_data===0">
    <app-no-data></app-no-data>
</div>

<div *ngIf="number_of_data>0">
    <div class="cards">
        <mat-card *ngFor="let data of cloth_data; let i = index" class="card">
            <mat-card-header>
                <mat-card-title>
                    <span>{{data.item_name}}</span>
                </mat-card-title>
                <mat-card-subtitle>
                    <span>{{data.brand}}</span>
                </mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="image" src="{{data.url | async}}" alt="{{data.item_name}}'s details">
            <mat-card-content>
                <p>{{data.item_category}}</p>
                <p>{{data.value | currency:'JPY'}}</p>
            </mat-card-content>
            <mat-card-actions class="action">
                <a mat-raised-button (click)="edit_this_data(data)" color="accent">編集</a>
                <a mat-raised-button (click)="delete_this_data(data.doc_key, data.image)">削除</a>
            </mat-card-actions>
        </mat-card>
    </div>
</div>