.cards {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  overflow-wrap: break-word;

  .card {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20%;
    min-width: 150px;
    margin: 10px 5px;

    mat-card-header {
      display: inline;

      mat-card-title {
        font-weight: bold;
      }
    }

    .image {
      margin: 0 auto;
      height: 300px;
      width: 100%;
      object-fit: contain;
    }

    .action {
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      text-align: center;
      margin: 0 auto;
    }
  }
}
