<div class="cards">
    <mat-card *ngFor="let data of cloth_data" class="card">
        <mat-card-header>
            <mat-card-title>
                <span>{{data.item_name}}</span>
            </mat-card-title>
            <mat-card-subtitle>
                <span>{{data.brand}}</span>
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{data.image}}" alt="{{data.item_name}}'s details">
        <mat-card-content>
            <p>{{data.item}}</p>
            <p>{{data.value | currency:'JPY'}}</p>
        </mat-card-content>
        <mat-card-actions class="action">
            <a mat-raised-button color="accent">編集</a>
            <a mat-raised-button>削除</a>
        </mat-card-actions>
    </mat-card>
</div>