$width-mid: 768px;
$width-sm: 480px;

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

.register {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    z-index: 30;
    padding: 50px 50px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);

    .brand_name {
      font-size: 18px;
      overflow-wrap: break-word;
    }

    .brand_forms {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 10px;
      margin-bottom: 10px;

      .brand_form {
        width: 68%;
      }

      .brand_buttons {
        display: flex;
        flex-direction: column;
        width: 30%;

        .brand_button {
          height: 55px;
          width: 100%;
          padding: 10px;
          margin-top: 4px;
          font-size: 1vw;
          white-space: initial;
          line-height: initial;

          @include max-screen($width-sm) {
            display: block;
            padding: 3px 3px;
            font-size: 10px;
          }
        }

        .add_failed {
          margin: 0;
          padding: 0;
          margin-top: 8px;
          font-size: 1vw;
          color: red;
          overflow-wrap: break-word;
        }
      }
    }

    .element {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
    }

    .image_error {
      color: red;
      font-weight: bold;
    }

    .image_buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      button {
        height: 50px;
        width: 45%;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 1.4vw;

        @include max-screen($width-sm) {
          font-size: 10px;
        }
      }
    }

    .image {
      border: solid;
      height: 300px;
      width: 100%;
      object-fit: contain;
      background-color: rgba(82, 82, 82, 0.26);
    }

    .bottom_buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      align-content: space-around;
      height: 100px;
      margin: 0;

      .button_size {
        padding: 10px;
        white-space: initial;
        line-height: initial;
        font-size: 1.3vw;

        @include max-screen($width-sm) {
          font-size: 10px;
        }
      }
    }
  }

  .notification {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    top: 0%;
    left: 25%;
    width: 50%;
    padding: 0 3px;
    background-color: rgb(59, 59, 59);
    color: white;
    font-weight: bold;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    word-break: break-all;

    .submitted_message {
      display: block;
      font-size: 15px;
      color: #51ff51;
      margin-bottom: 5px;
    }

    .submitted_item {
      display: block;
      font-size: 13px;
    }

    .bottom {
      padding-bottom: 5px;
    }
  }
}
