.register {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  z-index: 20;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: white;

  .form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    margin: 0 auto;

    .brand_name {
      overflow-wrap: break-word;
    }

    .brand_forms {
      // width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      // align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;

      .brand_form {
        width: 68%;
      }

      .brand_buttons {
        display: flex;
        flex-direction: column;
        width: 30%;

        .brand_button {
          height: 55px;
          width: 100%;
          margin-top: 4px;
          font-size: 10px;
          white-space: initial;
          line-height: initial;
        }

        .add_failed {
          margin: 0;
          padding: 0;
          margin-top: 8px;
          font-size: 11px;
          color: red;
          overflow-wrap: break-word;
        }
      }
    }

    .element {
      margin-top: 10px;
      margin-bottom: 10px;
      width: 100%;
    }

    .image_error {
      color: red;
      font-weight: bold;
    }

    .image_buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;

      button {
        height: 50px;
        width: 45%;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: medium;
      }
    }

    .image {
      border: solid;
      height: 300px;
      width: 100%;
      object-fit: contain;
      background-color: rgba(82, 82, 82, 0.26);
    }

    .bottom_buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 100px;
    }
  }
}
