<div class="register">
    <h1 *ngIf="!is_data_existing()">アイテムを登録</h1>
    <h1 *ngIf="is_data_existing()">アイテムを編集</h1>

    <form class="form" [formGroup]="register_form" (ngSubmit)="register()">

        <span>登録されるブランド名</span>
        <span class="brand_name">" {{create_brand_name()}} "</span>
        <div *ngFor="let n of brand_count | range; let i = index">
            <div *ngIf="existing_form(i)" class="brand_forms">
                <mat-form-field appearance="outline" [color]="color" class="brand_form">
                    <mat-label>ブランド名</mat-label>
                    <input matInput type="text" [matAutocomplete]="autocomplete" class="input"
                        formControlName="brand{{i}}" placeholder="ユニクロ" (keyup)="count_brands_word(true)" required>
                    <mat-autocomplete #autocomplete="matAutocomplete">
                        <mat-optgroup *ngFor="let brand of brand_options[i] | async" [label]="brand.char">
                            <mat-option *ngFor="let element of brand.elements" [value]="element.name">
                                {{element.name}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-autocomplete>
                    <mat-error *ngIf="brand_control(i).invalid">{{get_text_error_message("brand" + i)}}</mat-error>
                    <mat-hint>{{word_count("brand")}}</mat-hint>
                </mat-form-field>
                <div class="brand_buttons">
                    <button *ngIf="i === 0" mat-raised-button color="accent" type="button" class="brand_button"
                        (click)="increase_brand()">コラボブランドを追加</button>
                    <button *ngIf="i > 0" mat-raised-button type="button" class="brand_button"
                        (click)="decrease_brand(i)">コラボブランドを削除</button>
                    <!-- <div class="add_failed"> -->
                    <span *ngIf="i === 0" class="add_failed">{{ add_failed_message }}</span>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <mat-form-field appearance="outline" [color]="color" class="element">
            <mat-label>アイテム名</mat-label>
            <input matInput type="text" id="item_name" class="input" formControlName="item_name"
                placeholder="オーバーサイズクルーネックT" required>
            <mat-error *ngIf="item_name_control().invalid">{{get_text_error_message('item_name')}}</mat-error>
            <mat-hint>{{word_count("item_name")}}</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline" [color]="color" class="element">
            <mat-label>アイテムカテゴリ</mat-label>
            <mat-select id="item_category" class="input" formControlName="item_category" required>
                <mat-option *ngFor="let option of options" value="{{option}}">{{option}}</mat-option>
            </mat-select>
            <mat-error *ngIf="item_category_control().invalid">{{required_error}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" [color]="color" class="element">
            <mat-label>価格</mat-label>
            <input matInput id="value" type="number" class="input" formControlName="value" placeholder="3000" required>
            <mat-error *ngIf="value_control().invalid">{{get_value_error_message()}}</mat-error>
            <mat-hint>9,999,999,999,999円 まで入力可能です</mat-hint>
        </mat-form-field>

        <div class="element">
            <span>写真（5MB以下，任意）<br></span>
            <span *ngIf="file_size > 5000000" class="image_error">ファイルサイズが5MBを超えています</span>
            <input hidden #file_upload type="file" accept="image/*" formControlName="image"
                (change)="set_image_data($event)">
            <div class=" image_buttons">
                <button mat-raised-button type="button" color="accent" *ngIf="!image_url"
                    (click)="file_upload.click()">写真を追加</button>
                <button mat-raised-button type="button" color="accent" *ngIf="image_url"
                    (click)="file_upload.click()">写真を変更</button>
                <button mat-raised-button type="button" *ngIf="image_url" (click)="remove_image_data()"
                    (click)="file_upload.value = ''">写真を削除</button>
            </div>
            <!-- <span *ngIf="file_exist">アップロードされる画像：{{file_name}}</span> -->
            <img *ngIf="image_url" class="image" [src]="image_url">
        </div>

        <div class="element bottom_buttons">
            <button mat-raised-button type="reset" (click)="cancel()">キャンセル</button>
            <button mat-raised-button *ngIf="!is_data_existing()" [disabled]="is_invalid()" type="submit"
                color="accent">登録する</button>
            <button mat-raised-button *ngIf="!is_data_existing()" [disabled]="is_invalid()" type="button" color="accent"
                (click)="continue_register()">登録して続ける</button>
            <button mat-raised-button *ngIf="is_data_existing()" [disabled]="is_invalid()" type="button" color="accent"
                (click)="edit()">変更する</button>
        </div>
    </form>
</div>