.main {
  display: block;
  margin: 70px 2% 0 2%;
  // background-color: white;
}
.position {
  position: absolute;
  right: 6%;
  bottom: 12%;

  button {
    position: -webkit-sticky;
    position: fixed;
  }
}
