<div class="elements">
    <div class="chart">
        <div class="chart_wrapper">
            <div class="chart_area_wrapper">
                <canvas baseChart [data]="bar_values" [labels]="bar_names" [options]="bar_options" [legend]="bar_legend"
                    [chartType]="bar_type">
                </canvas>
            </div>
        </div>
    </div>
    <div class="description">
        <p>このWebアプリでは，ブランドやアイテム（トップス，パンツなど）に関する以下の項目を円グラフで表し視覚化します．</p>
        <ul>
            <li>ブランドごとの消費金額</li>
            <li>ブランドごとの所持数</li>
            <li>アイテムごとの消費金額</li>
            <li>アイテムごとの所持数</li>
        </ul>
    </div>
</div>

<div class="elements">
    <div class="image">
        <img src="../../assets/cloth_detail.png">
    </div>
    <div class="description">
        <p>特定のブランド，アイテムに関する詳細なデータを見ることができます．</p>
        <ul>
            <li>合計消費額</li>
            <li>合計所持数</li>
            <li>該当ブランド，アイテムだけを集めたデータ</li>
        </ul>
    </div>
</div>

<div class="elements">
    <div class="image">
        <img src="../../assets/form.png">
    </div>
    <div class="description">
        <p>洋服の情報の登録はフォームを通して行います．以下の項目を登録します．
        <ul>
            <li>ブランド名</li>
            <li>アイテム名</li>
            <li>アイテムカテゴリ</li>
            <li>価格</li>
            <li>写真（任意）</li>
        </ul>
    </div>
</div>

<div class="elements">
    <div class="image">
        <img src="../../assets/cloth_list.png">
    </div>
    <div class="description">
        <p>登録した洋服の情報を編集したり，削除したりできます．</p>
        <p>登録した洋服の一覧が出るのでギャラリーのようにできます．</p>
    </div>
</div>

<div class="sign_up">
    <h1>アカウント登録</h1>

    <form class="form" [formGroup]="sign_up_form" (ngSubmit)="sign_up()">
        <mat-form-field appearance="outline" color="accent" class="element">
            <mat-label>メールアドレス</mat-label>
            <input matInput type="email" id="email" class="input" formControlName="email"
                placeholder="example@example.com" required>
            <mat-error *ngIf="sign_up_form.get('email').hasError('required')">メールアドレスの入力は必須です</mat-error>
            <mat-error *ngIf="sign_up_form.get('email').hasError('email')">メールアドレスの形式になっていません</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" color="accent" class="element">
            <mat-label>パスワード</mat-label>
            <input matInput type="password" id="password" class="input" formControlName="password" required>
            <mat-hint>パスワードは6文字以上必要</mat-hint>
            <mat-error *ngIf="sign_up_form.get('password').hasError('required')">パスワードの入力は必須です</mat-error>
            <mat-error *ngIf="sign_up_form.get('password').hasError('minlength')">パスワードは6文字以上必要です</mat-error>
        </mat-form-field>

        <button mat-raised-button [disabled]="sign_up_form.invalid" color="accent" type="submit"
            class="button">ログイン</button>
    </form>

    <a routerLink="/sign-in">ログインはこちら</a>
</div>