$color: #00e600;

.title_width {
  width: 100%;
  background-color: white;
  margin-bottom: 20px;
  .title {
    font-size: xx-large;
    text-align: center;
    padding: 20px 0;
  }
}

.main {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .chart {
    position: sticky;
    height: 100%;
    width: 50%;
    top: 20%;
    // canvas {
    // }
  }
  .list {
    margin: 0 auto;
    text-align: center;

    .total {
      font-size: large;
      font-weight: lighter;
    }
    .item {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      font-size: medium;
      font-weight: 600;
      background-color: #22ff001e;
      box-shadow: 2px 2px 4px rgb(158, 158, 158);
      margin: 10px 0;
      padding-right: 5px;
      .rank {
        display: inline-block;
        background-color: $color;
        color: black;
        margin: 0 0;
        padding: 5px 5px;
        // width: 35px;
        &_1 {
          color: rgb(255, 217, 0);
        }
        &_2 {
          color: rgb(221, 221, 221);
        }
        &_3 {
          color: rgb(212, 137, 39);
        }
      }
      .name {
        margin: 0px 5px;
        color: $color;
        font-size: larger;

        &_1 {
          font-weight: 900;
        }
        &_2 {
          font-weight: 800;
        }
        &_3 {
          font-weight: 700;
        }
      }
      .number {
        display: inline-block;
        color: red;
        // margin: 0px 5px;
      }
    }
    mat-expansion-panel {
      margin-bottom: 10%;
    }
    .show_items {
      display: inline-block;
      font-weight: bold;
    }
  }
}
