<!-- <div *ngFor="let data of data_list">
    <div class="main">
        <div class="id">
            ID: {{ data.id }}
        </div>
        <div class="brand">
            ブランド名: {{ data.brand }}
        </div>
        <div class="item">
            アイテム名: {{ data.item }}
        </div>
        <div class="item_category">
            アイテムカテゴリ: {{ data.item_category }}
        </div>
        <div class="value">
            価格: {{ data.value }}
        </div>
        <img [src]="data.image" />
    </div>
</div> -->