.body {
  width: 100%;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
  overflow-wrap: break-word;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);

  .title {
    padding: 20px 0;
  }
  .chart {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    text-align: center;

    .chart-value {
      height: 100%;
      width: 50%;

      .total-value {
        color: red;
      }
    }
    .chart-number {
      height: 100%;
      width: 50%;

      .total-number {
        color: red;
      }
    }
  }

  .data {
    height: 100%;
    width: 100%;

    .cards {
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      width: 100%;
      text-align: center;

      .card {
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 20%;
        min-width: 150px;
        margin: 10px 5px;

        mat-card-header {
          display: inline;

          mat-card-title {
            font-weight: bold;
          }
        }

        .image {
          margin: 0 auto;
          height: 300px;
          width: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.not_exist {
  margin-top: 200px;
  text-align: center;
}
