$break-size: 490px;

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

mat-form-field {
  position: relative;
  margin-left: 5px;
  width: 150px;
}

#option {
  height: auto;
  padding: 0 0;
  white-space: unset;
  line-height: unset;
  overflow-wrap: break-word;

  .element {
    display: block;
    color: #00e600;
    width: 138px;
    padding-left: 32px;
    padding-right: 10px;
    margin: 10px 0;
  }
}
