$accent: #00e600;
$colors: rgb(255, 228, 78), rgba(221, 221, 221, 0.911), rgb(255, 181, 83);
$width-mid: 768px;
$width-sm: 480px;

@mixin max-screen($break-point) {
  @media screen and (max-width: $break-point) {
    @content;
  }
}

@mixin font-size-vw($size) {
  font-size: ($size / $breakpoint) * 100 + vw;
}

.depiction_space {
  width: 100%;
  background-color: white;
  text-align: center;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);
  margin: 10px 0;

  .title {
    padding: 20px 0;
    font-size: 3vw;
    margin-bottom: 0;

    @include max-screen($width-mid) {
      font-size: 25px;
    }
  }

  .main {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    padding-bottom: 10px;

    @include max-screen($width-mid) {
      flex-direction: column;
    }

    .chart {
      position: sticky;
      top: 35%;
      height: 100%;
      width: 55%;
      margin: 0 auto;
      margin-top: 100px;

      @include max-screen($width-mid) {
        position: relative;
        width: 90%;
        margin-top: 0px;
      }

      .chart_wrapper {
        position: relative;
        height: 100%;
        width: 100%;
        overflow-x: scroll;
        overflow-y: scroll;

        .chart_area_wrapper {
          width: 100%;
          height: 100%;

          @include max-screen($width-mid) {
            width: 100%;
          }

          @include max-screen($width-sm) {
            width: 397px;
          }
        }
      }
    }

    .list {
      height: 100%;
      width: calc(40vw - 40px);
      margin: 0 auto;
      text-align: center;

      @include max-screen($width-mid) {
        width: 70%;
        margin-top: 0px;
      }

      .total {
        font-size: 1.8vw;
        font-weight: lighter;
        width: 100%;
        margin: 0 auto;

        @include max-screen($width-mid) {
          font-size: 20px;
        }
      }

      .data {
        position: relative;
        margin: 2em 0;
        padding: 30px 10px 7px;
        border: solid 4px #51ff51;
        border-radius: 8px;
        background-color: #fff8e198;
        box-shadow: 10px 10px 15px -10px;

        @each $color in $colors {
          $i: index($colors, $color);
          &_#{$i} {
            border-color: $color;
            box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
          }
        }

        .rank {
          position: absolute;
          display: inline-block;
          top: -2px;
          left: -2px;
          padding: 0 9px;
          height: 30px;
          line-height: 30px;
          font-size: 2.3vw;
          color: #ffffff;
          font-weight: bold;
          border-bottom-right-radius: 8px;
          background: #51ff51;

          @include max-screen($width-mid) {
            font-size: 18px;
          }

          @each $color in $colors {
            $i: index($colors, $color);
            &_#{$i} {
              background-color: $color;
            }
          }
        }

        .name_and_value {
          margin: 0;
          padding: 0;
          line-height: normal;

          .name {
            display: block;
            color: $accent;
            font-size: 2.5vw;
            font-weight: bold;
            overflow-wrap: break-word;
            width: 100%;
            margin-bottom: 5px;

            @include max-screen($width-mid) {
              font-size: 20px;
            }
          }

          .value {
            display: block;
            color: red;
            font-size: 1.8vw;
            font-weight: normal;
            width: 100%;

            @include max-screen($width-mid) {
              font-size: 15px;
            }
          }
        }
      }

      mat-expansion-panel {
        margin: 0 auto;
      }

      .show_others {
        display: block;
        font-size: 1.4vw;
        width: 40%;
        padding: 10px;
        margin: 0 auto;
      }
    }
  }
}
