<div id="{{category}}-{{content}}" class="title_width">
    <h1 class="title">{{title}}</h1>

    <div class="main">
        <div class="chart">
            <canvas baseChart [data]="bar_values" [labels]="bar_names" [colors]="bar_colors" [options]="bar_options"
                [legend]="bar_legend" [chartType]="bar_type">
            </canvas>
        </div>

        <div class="list">
            <div class="total">
                合計（両コラボアイテム含み）：
                <span *ngIf="content === 'value'; else number">{{total | currency:'JPY'}}</span>
                <ng-template #number>{{total | number}}個</ng-template>
            </div>
            <div *ngFor="let name of names; let i = index">
                <div *ngIf="i<display_number" class="data data_{{i+1}}">
                    <div class="rank rank_{{i+1}}">
                        {{i+1}}位
                    </div>
                    <a [routerLink]="['/' + category, name | escape]" class="name name_{{i+1}}">
                        {{name}}
                    </a>
                    <div class="value value_{{i+1}}">
                        <span *ngIf="content === 'value' ; else top_value">{{values[i] | currency:'JPY'}}</span>
                        <ng-template #top_value>{{values[i] | number}}個</ng-template>
                    </div>
                </div>
            </div>

            <mat-expansion-panel *ngIf="show_others" (opened)="panel_state = true" (closed)="panel_state = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ panel_state ? '閉じる' : '続きを開く'  }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let name of names; let i = index">
                    <div *ngIf="i >= display_number" class="data">
                        <div class="rank">
                            {{i+1}}位
                        </div>
                        <a [routerLink]="['/' + category, name | escape]" class="name">
                            {{name}}
                        </a>
                        <div class="value">
                            <span *ngIf="content === 'value'; else others_value">{{values[i] | currency:'JPY'}}</span>
                            <ng-template #others_value>{{values[i] | number}}個</ng-template>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>

            <a *ngIf="!show_others" mat-raised-button color="accent" [routerLink]="['/' + category]"
                fragment="{{category}}-{{content}}" class="show_others">詳細を見る</a>
        </div>
    </div>
</div>