$accent: #00e600;
$colors: rgb(255, 228, 78), rgba(221, 221, 221, 0.911), rgb(255, 181, 83);

.title_width {
  width: 100%;
  background-color: white;
  text-align: center;

  .title {
    padding: 20px 0;
  }
}

.main {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;

  .chart {
    position: sticky;
    height: 100%;
    width: 50%;
    top: 35%;
    min-width: 450px;
    margin-top: 70px;
  }

  .list {
    height: 100%;
    width: 45%;
    margin: 0 auto;
    text-align: center;

    .total {
      font-size: large;
      font-weight: lighter;
      width: 100%;
      margin: 0 auto;
    }

    .data {
      position: relative;
      margin: 2em 0;
      padding: 25px 10px 7px;
      border: solid 4px #51ff51;
      border-radius: 8px;
      background-color: #fff8e198;
      box-shadow: 10px 10px 15px -10px;
      // box-shadow: 2px 2px 4px gray;

      @each $color in $colors {
        $i: index($colors, $color);
        &_#{$i} {
          border-color: $color;
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.25);
        }
      }

      .rank {
        position: absolute;
        display: inline-block;
        top: -2px;
        left: -2px;
        padding: 0 9px;
        height: 25px;
        line-height: 25px;
        font-size: 18px;
        color: #ffffff;
        font-weight: bold;
        border-bottom-right-radius: 8px;
        background: #51ff51;

        @each $color in $colors {
          $i: index($colors, $color);
          &_#{$i} {
            background-color: $color;
          }
        }
      }

      .name_and_value {
        margin: 0;
        padding: 0;

        .name {
          display: block;
          color: $accent;
          font-size: 20px;
          font-weight: bold;
          overflow-wrap: break-word;
          width: 100%;
          margin-bottom: 5px;
        }

        .value {
          display: block;
          color: red;
          font-weight: normal;
          width: 100%;
        }
      }
    }

    mat-expansion-panel {
      margin: 0 auto;
    }

    .show_others {
      display: inline-block;
      font-weight: bold;
    }
  }
}
