$color: #00e600;

.title_width {
  width: 100%;
  background-color: white;

  .title {
    font-size: xx-large;
    text-align: center;
    padding: 20px 0;
  }
}

.main {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;

  .chart {
    position: sticky;
    height: 100%;
    width: 50%;
    top: 20%;
    // canvas {
    // }
  }
  .list {
    height: 100%;
    width: 45%;
    margin: 0 auto;
    text-align: center;

    .total {
      font-size: large;
      font-weight: lighter;
      width: 100%;
      margin: 0 auto;
    }
    .data {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
      font-size: medium;
      font-weight: 600;
      background-color: #22ff001e;
      box-shadow: 2px 2px 4px rgb(158, 158, 158);
      height: 100%;
      width: 100%;
      margin: 10px auto;
      padding-right: 5px;

      .rank {
        display: inline-block;
        background-color: $color;
        color: black;
        margin: 0 0;
        padding: 10px 10px;
        // height: 100%;
        // width: 40px;

        &_1 {
          color: rgb(255, 217, 0);
        }
        &_2 {
          color: rgb(221, 221, 221);
        }
        &_3 {
          color: rgb(212, 137, 39);
        }
      }
      .name {
        display: block;
        margin: 0 5px;
        color: $color;
        font-size: larger;
        word-break: break-all;

        &_1 {
          font-weight: 900;
        }
        &_2 {
          font-weight: 800;
        }
        &_3 {
          font-weight: 700;
        }
      }
      .value {
        display: block;
        color: red;
      }
    }
    mat-expansion-panel {
      margin: 0 auto;
    }
    .show_others {
      display: inline-block;
      font-weight: bold;
    }
  }
}
